<% model_class = Post %>

  <div class="my-4">
    <h1><%= model_class.model_name.human.titleize %></h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title"><%= @post.title %></h4>
      <h6 class="text-muted">Posted by
        <%= @post.author %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @post.content %></p>
      <%= link_to t('.edit', default: t('helpers.links.edit')), edit_post_path(@post), class: "btn btn-success btn-sm" %>
      |
      <%= link_to t('.back', default: t('helpers.links.back')), posts_path, class: "btn btn-danger btn-sm" %>
    </div>
  </div>