<%= form_with(model: [ @post, @post.comments.build ], url:{action: 'create'}, local: true) do |form| %>
<p>
  <%= form.label :commenter %><br>
  <%= form.text_field :commenter, class: "form-control", placeholder: "Autor..." %>
</p>
<p>
  <%= form.label :body %><br>
  <%= form.text_area :body, rows: 5, class: "form-control", placeholder: "Conteúdo..." %>
</p>
<p>
  <%= form.submit nil, class: "btn btn-primary" %>
</p>
<% end %>